.plan {
  border: 1px solid #787878;
  border-radius: 5px;
  margin: 20px 10px;
}
.plan .name {
  color: rgb(3, 215, 215);
}
.provider-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.plan a {
  color: rgb(3, 215, 215);
  text-decoration: none;
}
.width-220 {
  width: 220px;
}
.tags {
  position: relative;
  top: -13px;
  left: 20px;
  width: auto;
  display: flex;
}
.tag {
  background: rgb(232, 232, 232);
  padding: 3px;
}
.lh2 {
  line-height: 2;
}
.dir-col {
  flex-direction: column;
}
.mb10 {
  margin-bottom: 10px;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.less-then {
  background-color: #dedede;
  padding: 10px;
  border-radius: 5px;
}
.standard-terif {
  background-color: rgb(194, 244, 244);
  padding: 2px;
}
.features {
  padding: 10px;
}
.align-center {
  align-items: center;
}
.space-arround {
  justify-content: space-around;
}
.plan-footer {
  border-top: 1px solid;
  padding: 10px;
  background-color: #cecece;
  color: black;
  display: flex;
}
.terms_condition {
  flex: 7;
}
.actions {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}
.btn {
  background-color: rgb(63, 63, 147);
  padding: 10px;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.price-box {
  border: 1px solid #787878;
  border-radius: 5px;
  width: 210px;
}
.price-bx-header {
  background: rgb(63, 63, 147);
  color: white;
  padding: 10px;
}
.price-bx-body {
  padding: 10px;
  background: rgb(140, 202, 221);
}
.year-price {
  font-weight: bold;
  color: #00559f;
  font-size: 18px;
}
.month-price {
  font-size: 12px;
  color: #b9960a;
}
ul {
  padding-left: 15px;
}
.read-or-hide {
  color: brown;
}
.list-box {
  margin: 10px 0;
}
